<html>

<head>
    <title><%= ID %></title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../vendors/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../vendors/fonts/line-awesome.css">
    <link rel="stylesheet" href="../vendors/fonts/SpoqaHanSans-kr.css">
    <link rel="stylesheet" type="text/css" href="css/style_overwatch.css">
    <link rel="stylesheet" type="text/css" href="css/uc.min.css">
</head>

<body>
    <% include ./overwatch_header.ejs %>


    <div class="container-frame is-pd-y_60">
        <div data-uc-colgroup="row-md">
            <div class="is-col-xs2">
                <% include ./overwatch_left_side.ejs %>
            </div>
            <div class="is-col-xs8">
                <div class="independence-widget-wrap">
                    <div class="is-clearfix">
                        <h3 style="float: left; margin-bottom: 35px;">정보 게시판</h3>
                        <div class="buttons">
                                <a class="btn btn-default" href="/posts">Back</a>
                                <form action="/posts/<%= post._id %>" method="post">
                                    <button type="submit" class="btn btn-default">Like</button>
                                </form>
                                <% if(isAuthenticated && currentUser.id == post.author.id){ %>
                                    <a class="btn btn-default" href="/posts/<%= post._id %>/edit">Edit</a>
                                    <form action="/posts/<%= post._id %>?_method=delete" method="post">
                                    <a class="btn btn-default" href="#" onclick="confirm('Do you want to delete this?')?this.parentElement.submit():null;">Delete</a>
                                    </form>
                                <% } %>
                               </div>
                            
                               <div class="contentBox">
                                <h3 class="contentBoxTop"><%= post.title %></h3>
                                <div class="row">
                                 <div class="col-sm-4 col-sm-push-8">
                                  <div class="post-info">
                                   <div><span>Created</span> : <%= post.createdDate %> <%= post.createdTime %></div>
                                   <% if(post.updatedAt) { %>
                                    <div><span>Updated</span> : <%= post.updatedDate %> <%= post.updatedTime %></div>
                                   <% } %>
                                   <div><span>Like</span> : <%= post.likes %></div>
                                  </div> <!-- post-info end -->
                                 </div> <!-- col end-->
                                 <div class="col-sm-8 col-sm-pull-4">
                                  <div class="post-body"><%= post.body %>
                                    <br>
                                    <%= post.likeIds %>
                                  </div>
                                 </div> <!-- col end-->
                                </div> <!-- row end -->
                               </div> <!-- post-container end -->
                                
                       
                    <span class="is-scroll-overlay"></span>
                </div>
            </div>
            <div class="is-col-xs2">
                <% include ./overwatch_right_side.ejs %>
            </div>
        </div>
    </div>


    <% include ./overwatch_footer.ejs %>
</body>

</html>